# Items that don't need to be in a Docker image.
# Anything not used by the build system should go here.
.git
.dockerignore
.gitignore
.github/*
README.md
Dockerfile

# Artifacts that will be built during image creation.
# This should contain all files created during `yarn build`.
dist
node_modules
